barcode==1.0.1
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
cryptography==36.0.2
dj-database-url==0.5.0
Django
django-mssql-backend==2.8.1
django-session-timeout==0.1.0
django_heroku
gunicorn
psycopg2-binary==2.8.6
